.card{
    width: 350px;
}

p{
    cursor: pointer
}

p:hover{
    animation:changecolor 0.5s;
    animation-fill-mode: forwards
}

@keyframes changecolor{
    from{color: black;}
    to{color:#0275d8}
}